*{
    margin: 0;
    padding:0;
   box-sizing: border-box; 
 }

 html,
body {
    height: 100%;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 3.5vw;
  font-weight: 500;
}

 img {
  width: 100%;
  max-width: 100%;
  }

 .wrapper{
  display: grid;
     /*
    Все блоки с контентом делаем в сетке по высоте контента.
    Предпоследняя строка 1fr перед footer для того, чтобы
    footer прижался красиво к низу при отсутствии достаточного
    по высоте контента в основной области.
     */
   grid-template: repeat(3, minmax(min-content, max-content)) 1fr minmax(min-content, max-content) / 1fr;
  padding: 3rem; 
  margin: 0 auto;
 }

  .header {
    display: flex;
     justify-content:space-between;
     align-items: center;
     padding-inline: 1rem;
     position: relative;
   
     .header-logo{
      img {
        width: 50%;
        max-width: 100%;
        }
     }

 .header__nav-toggle {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background: linear-gradient(black 0 0.35rem, white 0.65rem 0.85rem, black 0.85rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.header__nav-toggle::before,
.header__nav-toggle::after {
    display: block;
    content: "";
    width: 100%;
    height: 0.2rem;
    background: white;
}

.header__nav-toggle_active {
    background: black;
}

.header__nav-toggle_active::before {
    transform-origin: top left;
    transform: rotate(45deg) translate(0.22rem);
}

.header__nav-toggle_active::after {
    transform-origin: bottom left;
    transform: rotate(-45deg) translate(0.22rem);
}

.header-nav{
display: none;
position: absolute;
width: 100%;
top: 100%;
left: 0;

  a{
    display: block;
    color: black;
    margin-right: 2rem;
    text-align: center;
    text-decoration: none;
    padding-block: 1rem;
  }

  .header__navigation_active {
    display: block;
  }
}
  }

  %subtitletext{
    font-size: 1.5rem;
    font-weight: 500;
   color: #9E9DA2;
   }

   $background: #75BF7A;

   @mixin fonbutton($background)
   {
     padding: 1rem 2rem;
     background-color:$background;
     border-style: none;
     color: white;
     border-radius: 5px;
     font-weight: 700;
    }

   .main 
   {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
 
    .main_block1{
    .main-title {
      
      font-size: 2.5em; 
      font-weight: 800;
      text-align: center;
      margin: 1rem;
    }
   
.main-subtitle{
  @extend%subtitletext;
  margin: 2rem;
  text-align: center;
   }
 .buttons{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: center;
 }
   .downloadAndroid,.downloadApple{
    @include fonbutton(black);
    text-decoration: none;
    margin: 1rem; 
      }
    }

      .applytodrive{
        @include fonbutton($background);
      display: flex;
       flex-direction: column; 
        justify-content: space-between; 
     
        gap: 1rem;
        padding: 1.5rem;
        margin-top: 2rem; 

      .phone{
     display: flex;
     justify-content: stretch;
      padding:  1rem; 
      border-radius: 5px;
      border-style: none;
       margin: 1rem 0;
       }

      .apply-btn{
        display: flex;
        @include fonbutton(black);
              }
       }

  
        .main_block2_how {
           font-size: 2.85rem;
           font-weight: 700;
           text-align: center;
            padding: 3rem 0;
           
            span{
             color: $background;
            } 
           p{ 
             @extend%subtitletext;
             margin-top: 1rem;
             }
           }
        
           .main_block2_photo
           { justify-content: center;
                display: flex;       
             position: relative;
           
.circle{
  position: absolute;
  z-index: -1;
  top: 70px;
        background-color: #75BF7A;
      border-radius: 50%;
      width: 350px;
      height: 350px;
  }
 } 
}  
         %mainblock2{
           display: flex;
           flex-direction: column;
           align-items: center;
          justify-content: center; 
          margin: 3rem 0;
         h2{
         padding: 1rem 0;
         margin: 1rem 0;
       }
       span{
        padding: (6px 16px);
         color: $background;
         font-size: 2rem;
         border:6px #75BF7A dashed;
         border-radius: 50%;
           }
         p{ @extend%subtitletext;
         } 
        }

        .main_block2_1, .main_block2_2, .main_block2_3, .main_block2_4{
          @extend%mainblock2;
        }

        .main_block3_benefits{
          font-size: 2.85rem;
          font-weight: 700;
          text-align: center;
          align-self: center;
          padding: 3rem 0;
          
           span{
            color: $background;
           } 
                   }

         %mainblock3
         {
          h2{
           padding: 1rem 0;
           margin: 1rem 0;
           font-size: 2rem;
         }
         p{ @extend%subtitletext;
           }
           img{
            margin: 2rem;
           }
            span{
           color: $background;
           font-size: 4rem;
           font-weight: 500;
             }
             }

        .main_block3_1, .main_block3_2, .main_block3_3{
        @extend%mainblock3;
        div{display: flex;
          align-items: center;
        gap: 3rem;} 
        img{
           width: 70%; 
          justify-content: center;
               }
       } 
           
       .footer {
         display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin: 2rem 0;
                
       .downloadAndroid,.downloadApple{
        @include fonbutton(black);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap:1rem;
        margin: 1rem 0;
                  }  
                  .footer_rights{                 
                  color: #9E9DA2;
                }
                .contact1 > p:nth-child(1){
                  font-weight: 500;
          font-size: 1.5rem;
          padding-bottom: 1rem;
                }
                .contact1 > p:not(:first-child){
                  color: #9E9DA2;
                  padding: 1rem 0;
                }
}
@media screen and (min-width: 768px) {
  html {
      font-size: 1.8vw;
  }
}

@media screen and (min-width: 1024px) {
  html {
      font-size: 1.2vw;
  }

  .header {
    position: static;
    display: flex;
    justify-content: space-between;

    .header__nav-toggle {
    display: none;
}

.header-nav {
    display: flex;
    position: static;
    width: auto;
    gap: 1rem;

    a{
    text-align: center;
    text-decoration: none;
    padding: 1rem;
  }
}

.buttonhelp{
  @include fonbutton($background);
  }
}
.main{
  display:flex;


.main_block1{
  display:flex;
  flex-direction: row-reverse;

 .main-text{
 display: flex;
 flex-direction: column;
  flex: 1 0 550px;
  justify-content: space-around;

    .main-title {
       font-size: 3em; 
         text-align:start;
     margin-top: 4rem;
    }
  
.main-subtitle{
  text-align:start;
  margin: 1rem;
   }
   
 .buttons{
 display:flex;
justify-content:space-around;
 } 
}
}

 .applytodrive {
display: flex;
 flex-direction: row; 
align-items: center; 
justify-content: space-around; 
} 

.main_block2  {
  display: grid;
  grid-template-areas: 
"main_block2_how main_block2_how main_block2_how"
"main_block2_1 main_block2_photo main_block2_2"
"main_block2_3 main_block2_photo main_block2_4"; 
gap: 2rem;

.main_block2_how  {
  grid-area:main_block2_how;
              }
   
    .main_block2_1
   {grid-area:main_block2_1;
     display: flex;
     align-items: end;
         text-align: right; 
     max-width: 290px;
     justify-self: end;
     margin-right: 4rem;
        }
   
   .main_block2_photo
   {grid-area:main_block2_photo;
    display: flex;  
     justify-self: center;
     align-items: center;
     position: relative;

     .circle{
      position: absolute;
      top: 150px;
      width: 300px;
      height: 300px;

     }

  }
   .main_block2_2
   {grid-area:main_block2_2;
    display: flex;
    align-items: start;
         max-width: 290px;
     text-align: left; 
     margin-left: 4rem;
        } 
   .main_block2_3
   {grid-area:main_block2_3;
    display: flex;
    align-items: end;
    text-align: right; 
     max-width: 290px;
     justify-self: end;
      margin-right: 4rem;
    }
   .main_block2_4
   {grid-area:main_block2_4;
    display: flex;
    align-items: start;
     max-width: 290px;
    text-align: left;
    margin-left: 4rem; 
   }
}  

.main_block3   {
  display: grid;
  grid-template:10% repeat(3, minmax(min-content, max-content)) 1fr minmax(min-content, max-content) / 1fr 1fr;
  gap: 3.5rem;

.main_block3_benefits{
grid-column: span 2;
}

.main_block3_1{
  grid-column: span 2;
display: flex;
flex-direction: row;
margin-left: 65px;
        }
       
  .main_block3_2{
    grid-column: span 2;
    display: flex;
flex-direction: row;
margin-left: 100px;
          }
    .main_block3_3{
      grid-column: span 2;
      display: flex;
      flex-direction: row;
      margin-left: 65px;
      }
    }
  }

    .footer {
     .footer_top{
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
     gap: 10rem;
     }             

      .footer_rights{
      display: flex;
    justify-content: center; 
    color: #75BF7A;
  }
}

}
    

  
   






   
  
  

